.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 0;
}

.title {
    display: flex;
    font-size: 1.5rem;
    align-items: center;
    margin: 3rem auto;
}

.titleText {
    font-size: 1.5rem;
    margin: 0;
}

.form {
    width: 70%;
}

.formRow {
    display: flex;
    justify-content: space-around;
}

.formColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0 1rem;
}


.formColumn > * {
    width: 90%;
    margin: 1rem 0;
    background-color: rgb(235, 235, 235);
    border: none;
    border-bottom: 2px solid #ccc;
    height: 2rem;
    font-size: 1rem;
    font-family: inherit;
    padding: 0 0.5rem;
    outline: none;
}

.formColumn select {
    width: 93%;
}

.button {
    width: 30%;
    align-self: center;
    margin-top: 3rem;
    margin-bottom: 1rem;
    height: 3rem;
    font-size: 1rem;
    background-color: rgb(53, 108, 145);
    color: white;
    border: none;
    font-family: inherit;
    cursor: pointer;
}

.button:hover,
.button:active {
    color: rgb(53, 108, 145);
    background-color: rgba(53, 108, 145, 0.3);
    border: 1px solid rgb(53, 108, 145);
}