.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 3rem;
    background-color: rgb(53, 108, 145);
    color: white;
    padding: 0 2rem;
}

.link {
    text-decoration: none;
    color: white;
    padding: 0.5rem 2rem;
}

.link:hover,
.link:active {
    background-color: rgba(255, 255, 255, 0.6);
    color: rgb(53, 108, 145);
}